* {
    margin: 0;
    padding:0;
    box-sizing: border-box;  
    outline:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width:100vw;
    background-color: rgb(9, 156, 189);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    padding:2rem;
    background-color: white;
    border-radius: 1rem;
}

h1 {
    margin-bottom:1.5rem;
    font-size: 2rem;
    text-align: center;
}

.geral {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
}

ul {
    list-style: none;
    line-height: 1.6rem;
    font-size: 18px;
}

h2 {
    margin-bottom: 0.6rem;
}

form {
    margin-top:2rem;
    display: flex;
    flex-direction: column;
}

input {
    height: 2.4rem;
    width:100%;
    margin:0.6rem 0 0.6rem 0;
    font-size:18px;
    padding:0.4rem;
    border-radius: 0.6rem;
    border:1px solid rgb(0, 0, 0)
}

label {
    font-size: 18px;
}

button {
    height: 2.4rem;
    margin-top:0.6rem;
    font-size: 18px;
    border: 2px solid rgb(9, 156, 189);
    background-color:rgb(9, 156, 189) ;
    border-radius: 0.6rem;
    cursor: pointer;
    color:white;
    transition: 0.4s;
}

button:hover{
    background-color: white;
    color: rgb(9, 156, 189);
    border: 2px solid rgb(9, 156, 189);
}

.paragrafo-resultado {
    text-align: center;
    padding:0.7rem;
    color: white;
    background-color:rgb(9, 189, 33);;
    border-radius: 0.6rem;
    margin-top:1rem
}

.bad {
    text-align: center;
    padding:0.7rem;
    color: white;
    background-color:rgb(226, 12, 12);;
    border-radius: 0.6rem;
    margin-top:1rem
}